<!DOCTYPE html>
<html>
<head>
    <title>Создание курса</title>
</head>
<body>
    <header>
        <a href="/" class="home-button">Главная страница</a> |
        <a href="{% url 'courses' %}">Курсы</a>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                Привет, {{ user.username }}!
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a> | 
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </header>

    <div class="content">
        <h1>Создание курса</h1>
        <form method="post">
            {% csrf_token %}
            <label for="title">Название:</label><br>
            <input type="text" id="title" name="title" value="{{ course.title }}" required maxlength="30"><br>
            <label for="description">Описание:</label><br>
            <input type="text" id="description" name="description" value="{{ course.description }}" required maxlength="500"><br>
            <button type="submit">Создать курс</button>
        </form>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>