<!DOCTYPE html>
<html>
<head>
    <title>Редактировать отзыв</title>
</head>
<body>
    <header>
        <a href="/" class="home-button">Главная страница</a> |
        <a href="{% url 'courses' %}">Отзывы</a> |
        <a href="{% url 'review' review.id %}">{{ review.course.title }}</a>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                Привет, {{ user.username }}!
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a> | 
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </header>

    <h1>Редактировать отзыв для курса "{{ review.course.title }}"</h1>
    <form action="{% url 'edit_review' review.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Редактировать отзыв</button>
    </form>
</body>
</html>