<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
</head>
<body>
    <header>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                Привет, {{ user.username }}!
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a> | 
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </header>

    <div class="content">
        <h1>Добро пожаловать на главную страницу!</h1>

        <h2><a href="{% url 'students' %}">Студенты</a></h2>
        <ul>
        {% for student in students %}
            <li><a href="{% url 'student' student.id %}">{{ student.first_name }} {{ student.last_name }}</a></li>
        {% endfor %}
        </ul>

        <h2><a href="{% url 'courses' %}">Курсы</a></h2>
        <ul>
        {% for course in courses %}
            <li><a href="{% url 'course' course.id %}">{{ course.title }}</a></li>
        {% endfor %}
        </ul>

    </div>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>