<!DOCTYPE html>
<html>
<head>
    <title>Отзыв {{review.id}}</title>
</head>
<body>
    <header>
        <a href="/" class="home-button">Главная страница</a> |
        <a href="{% url 'reviews' %}">Отзывы</a>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                Привет, {{ user.username }}!
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a> | 
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </div>
    </header>

    <h1>Отзыв для {{ review.course.title }} от {{ review.student.first_name }}</h1>
    <p>Курс: <a href="{% url 'course' review.course.id %}">{{ review.course.title }}</a></p>
    <p>Автор: <a href="{% url 'student' review.student.id %}">{{ review.student.first_name }} {{ review.student.last_name }}</a></p>
    <p>Оценка: {{ review.grade }}</p>
    <p>Комментарий: {{ review.review_text }}</p>
    <p>id отзыва: {{review.id}}  </p>
    <!-- другая информация об отзыве -->
    {% if review.student.user == request.user or request.user.is_staff %}
        <a href="{% url 'edit_review' review.id %}">Редактировать</a>
        <a href="{% url 'delete_review' review.id %}">Удалить</a>
    {% endif %}
</body>
</html>